<div class="card mb-3 col-12 dark-gray-6">
  <div class="row g-0 rounded dark-gray-6">
    <div class="col-md-6 mainCard">
                  <div id="movies">
                <% Movie.all.find() do |movies| %>
                </div>
      <img src="<%=movies.capa%>" alt="Imagem filme principal">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%=movies.titulo%></h5>
        <p class="card-text">Diretor: <%=movies.diretor%></p>
        <p class="card-text">Estreia: <%=movies.estreia%></p>
        <p class="card-text">Gênero: <%=movies.genero%></p>
        <p class="card-text">Elenco: <%=movies.elenco%></p>
        <p class="card-text">Sinopse: <%=movies.sinopse%></p>

      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-sm-4">
    <div class="card dark-gray-6">
                      <div id="movies">
                <% Movie.all.find(:last) do |movies| %>
                </div>
      <img src="<%=movies.capa%>" alt="Imagem filme intermediário">
      <div class="card-body">
        <h5 class="card-title"><%=movies.titulo%></h5>
        <p class="card-text">Diretor: <%=movies.diretor%></p>
        <p class="card-text">Estreia: <%=movies.estreia%></p>
        <p class="card-text">Sinopse: <%=movies.sinopse%></p>
      </div>
      <% end %>
    </div>
  </div>
</div>